In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import tensorflow as tf #magical gradient computation
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import nltk
from nltk.corpus import stopwords

In [3]:
import csv
data= pd.read_csv('E:/Personal_Details/Hackathon/new/datasets-v3_1/task-1/train.csv',encoding="ISO-8859-1",header=None)

In [59]:
dat.head()

,0,1,2,3
0,NaN,Et.tu..Rhody...A.recent.editorial.in.the.Provi...,X727600136,non.propaganda
1,1.0,A recent post in The Farmington Mirror â our...,731714618,non-propaganda
2,2.0,"President Donald Trump, as he often does while...",731714635,non-propaganda
3,3.0,"February is Black History Month, and nothing l...",728627182,non-propaganda
4,4.0,"The snow was so heavy, whipped up by gusting w...",728627443,non-propaganda

In [4]:
data['Length'] = [len(headline) for headline in data[1]]
data.head()

,0,1,2,3,Length
0,NaN,Et.tu..Rhody...A.recent.editorial.in.the.Provi...,X727600136,non.propaganda,4035
1,1.0,A recent post in The Farmington Mirror â our...,731714618,non-propaganda,3937
2,2.0,"President Donald Trump, as he often does while...",731714635,non-propaganda,5693
3,3.0,"February is Black History Month, and nothing l...",728627182,non-propaganda,7129
4,4.0,"The snow was so heavy, whipped up by gusting w...",728627443,non-propaganda,3357

In [9]:
data['Length'].describe()
prog_news = data[data[3] == 'propaganda'][1]
nonprog_news = data[data[3] == 'non-propaganda'][1]

In [ ]:
real_text = ' '.join(data[data[3] == 'non-propaganda'][1])
fake_text = ' '.join(data[data[3] == 'propaganda'][1])
fake_words = [word for word in nltk.tokenize.word_tokenize(fake_text) if word not in stopwords.words('english') and len(word) > 3]
real_words = [word for word in nltk.tokenize.word_tokenize(real_text) if word not in stopwords.words('english') and len(word) > 3]

In [ ]:
common_fake = nltk.FreqDist(fake_words).most_common(25)
common_real =nltk.FreqDist(real_words).most_common(25)
fake_ranks = []
fake_counts = []
real_ranks = []
real_counts = []

for ii, word in enumerate(reversed(common_fake)):
    fake_ranks.append(ii)
    fake_counts.append(word[1])

for ii, word in enumerate(reversed(common_real)):
    real_ranks.append(ii)
    real_counts.append(word[1])

plt.figure(figsize=(20, 7))

plt.scatter(fake_ranks, fake_counts)

for labels, fake_rank, fake_count in zip(common_fake, fake_ranks, fake_counts):
    plt.annotate(
        labels[0],
        xy = (fake_rank, fake_count)+
    )

plt.scatter(real_ranks, real_counts)
plt.title('Real vs Fake Headlines')

for labels, real_rank, real_count in zip(common_real, real_ranks, real_counts):
    plt.annotate(
        labels[0],
        xy = (real_rank, real_count)
    )
    
real_patch = mpatches.Patch(color='orange', label='Real')
fake_patch = mpatches.Patch(color='blue', label='Fake')
plt.legend(handles=[real_patch, fake_patch])

plt.show()

In [ ]:
data['Length'].describe()